.Login-container{
    width: 90%;
    max-width: 460px;
    height: 450px;
    border: 1px solid seashell;
    border-radius: 10px;
}
.login-boton{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.login-boton button{
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    outline: none;
    color: #444240;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
